// Role form styles
mat-dialog-content {
  max-height: 70vh;
  overflow-y: auto;
}

.form-check-input:indeterminate {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.accordion-button {
  padding: 0.75rem 1rem;
  
  &::after {
    margin-left: auto;
  }
  
  .form-check {
    margin-right: 1rem;
  }
}

.accordion-body {
  padding: 1rem;
  max-height: 250px;
  overflow-y: auto;
} 