{{captionHtml}}

<h1>{{documentTitle}}</h1>

<p>TO THE HONORABLE JUDGE OF SAID COURT:</p>

<p style="text-indent:36pt">COMES NOW the Defendant, <strong>{{defendantName}}</strong>, by and through undersigned counsel, and respectfully moves this Honorable Court pursuant to the Fourth and Fourteenth Amendments to the United States Constitution, Article I, Sections 9 and 19 of the Texas Constitution, and Texas Code of Criminal Procedure Article 38.23, to {{reliefSought}}. In support of this Motion, the Defendant respectfully shows the Court as follows:</p>

{{documentBody}}

<p style="text-indent:36pt">WHEREFORE, PREMISES CONSIDERED, the Defendant respectfully moves that this Honorable Court:</p>
{{prayerItems}}

<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td width="40%"></td><td width="60%">
<p>Respectfully submitted,</p>
<br/>
<p>_________________________________</p>
<p><strong>{{attorneyName}}</strong></p>
<p>{{attorneyBarNumber}}</p>
<p>{{firmAddress}}</p>
<p>{{firmPhone}}</p>
<p><em>Attorney for {{defendantLabel}}</em></p>
</td></tr>
</table>

<h2>CERTIFICATE OF SERVICE</h2>

<p style="text-indent:36pt">I hereby certify that a true and correct copy of the foregoing instrument has been served upon the {{countyState}} District Attorney's Office on this {{currentDate}}.</p>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr><td width="40%"></td><td width="60%">
<p>_________________________________</p>
<p>{{attorneyName}}</p>
</td></tr>
</table>
