# Database\nMYSQL_USERNAME=your_username\nMYSQL_PASSWORD=your_password\nMYSQL_HOST=localhost\nMYSQL_PORT=3306\nMYSQL_DATABASE=your_database\n\n# Server Config\nCONTAINER_PORT=8085\nACTIVE_PROFILE=dev\n\n# Email Config\nEMAIL_HOST=smtp.example.com\nEMAIL_PORT=587\nEMAIL_ID=your_email@example.com\nEMAIL_PASSWORD=your_email_password\nVERIFY_EMAIL_HOST=http://localhost:8085\n\n# UI Config\nUI_APP_URL=http://localhost:4200\n\n# Security\nJWT_SECRET=your_jwt_secret
