<ng-container *ngIf="(invoicesState$ | async) as state" [ngSwitch]="state.dataState">
   <ng-container *ngSwitchCase="DataState.LOADED">
     <app-layout [user]="state?.appData?.data?.user"></app-layout>
     <section>
      <div class="px-5">
         <nav aria-label="breadcrumb" style="margin-top: 12px;">
            <ol class="breadcrumb">
               <li class="breadcrumb-item">
                  <a [routerLink]="['/']">Home</a>
               </li>
               <li class="breadcrumb-item active"> Invoices </li>
            </ol>
         </nav>
         <div class="row" style="margin-bottom:60px;">
            <div class="col-lg-12">
                <div class="card" id="customerList">
                    <div class="card-header border-bottom-dashed py-4">
                        <div class="row g-4 align-items-center">
                            <div class="col-sm">
                                <div>
                                    <h5 class="card-title mb-0">Invoice List</h5>
                                </div>
                            </div>
                           
                            <div class="col-sm-auto">
                                <div class="d-flex flex-wrap align-items-start gap-2">
                                  <button type="button" class="btn btn-soft-success btn-animation waves-effect waves-light add-btn" (click)="openNewInvoiceModal()" id="create-btn">
                                    <i class="ri-add-line align-bottom me-1"></i> Create Invoice
                                  </button>
                                    <button type="button" class="btn btn-info" (click)="report()"><i class="ri-file-download-line align-bottom me-1"></i> Export</button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                      <div class="card-body">
                        <table class="table table-responsive align-middle table-nowrap">
                          <thead class="table-light">
                            <tr>
                              <th scope="col" class="px-4">Invoice Number</th>
                              <th scope="col" class="px-4">Service</th>
                              <th scope="col" class="px-4">Status</th>
                              <th scope="col" class="px-4">Date</th>
                              <th scope="col" class="px-4">Total</th>
                              <th scope="col" class="text-center px-4">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let invoice of state?.appData?.data?.page.content">
                              <td class="px-4">{{ invoice.invoiceNumber }}</td>
                              <td class="px-4">{{ invoice.services }}</td>
                              <td class="px-4">
                                <span class="badge"
                                  [ngClass]="{
                                    'bg-success-subtle text-success': invoice.status === 'PAID',
                                    'bg-warning-subtle text-warning': invoice.status === 'PENDING',
                                    'bg-danger-subtle text-danger': invoice.status === 'CANCELED',
                                    'bg-info-subtle text-info': invoice.status === 'OVERDUE'
                                  }">{{ invoice.status }}
                                </span>
                              </td>
                              <td class="px-4">{{ invoice.date | date: 'mediumDate' }}</td>
                              <td class="px-4">${{ invoice.total }}</td>
                              <td class="text-center px-4">
                                <div class="dropdown">
                                  <button class="btn btn-soft-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Actions
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                      <a [routerLink]="['/invoices', invoice.id, invoice.invoiceNumber]" class="dropdown-item">
                                        <i class="ri-printer-line align-bottom me-2"></i> Print
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" class="dropdown-item">
                                        <i class="ri-download-line align-bottom me-2"></i> Download
                                      </a>
                                    </li>
                                    <li>
                                      <a href="#" class="dropdown-item">
                                        <i class="ri-edit-2-line align-bottom me-2"></i> Edit
                                      </a>
                                    </li>
                                    <li>
                                      <a (click)="deleteInvoice(invoice.id)" class="dropdown-item text-danger">
                                        <i class="ri-delete-bin-5-line align-bottom me-2"></i> Delete
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                         <!-- Pagination -->
                        <nav *ngIf="state?.appData?.data?.page.content.length > 0" aria-label="Page navigation example" class="mt-4">
                           <ul class="pagination justify-content-end mb-0">
                              <li [ngClass]="0 == (currentPage$ | async) ? 'disabled' : ''" class="page-item">
                                 <a (click)="goToNextOrPreviousPage('backward')" class="page-link">&laquo; Prev</a>
                              </li>
                              <li *ngFor="let pageNumber of [].constructor(state?.appData?.data?.page.totalPages); let i = index;"
                                 class="page-item">
                                 <a (click)="goToPage(i)" [ngClass]="i == (currentPage$ | async) ? 'active' : ''" class="page-link">
                                    {{ i + 1 }}
                                 </a>
                              </li>
                              <li [ngClass]="(state?.appData?.data?.page.totalPages - 1) == (currentPage$ | async) ? 'disabled' : ''"
                                 class="page-item">
                                 <a (click)="goToNextOrPreviousPage('forward')" class="page-link">Next &raquo;</a>
                              </li>
                           </ul>
                        </nav>
                      </div>
                </div>
            </div>
        </div>
      </div>
   </section>
   </ng-container>
 </ng-container>
 