@import '../styles/variables';
@import '../styles/base';
@import '../styles/animations';

:host {
  display: block;
}

// Override Velzon body styles when marketing site is active
:host ::ng-deep body.legience-website-active {
  background: #fff;
  font-family: $w-font-body;
}
