<!-- Texas Court Caption: uses only HTML elements CKEditor preserves -->
<!-- CAUSE NO. inside the table as a colspan row so CKEditor doesn't strip it -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3" align="center"><b>{{causeNumberLabel}} {{caseNumber}}</b></td>
  </tr>
  <tr>
    <td width="40%" valign="top"><b>{{plaintiffName}}</b></td>
    <td width="10%" align="center" valign="top"><b>&sect;</b></td>
    <td width="50%" valign="top"><b>{{courtName}}</b></td>
  </tr>
  <tr>
    <td></td>
    <td align="center"><b>&sect;</b></td>
    <td></td>
  </tr>
  <tr>
    <td valign="top"><b>vs.</b></td>
    <td align="center" valign="top"><b>&sect;</b></td>
    <td valign="top"><b>{{countyState}}</b></td>
  </tr>
  <tr>
    <td></td>
    <td align="center"><b>&sect;</b></td>
    <td></td>
  </tr>
  <tr>
    <td valign="top"><b>{{defendantName}}</b></td>
    <td align="center" valign="top"><b>&sect;</b></td>
    <td></td>
  </tr>
</table>
