<!-- Default Court Caption: generic format without jurisdiction-specific separator -->
<div align="center" style="text-align:center; margin-bottom:12px;">
  <strong>{{causeNumberLabel}} {{caseNumber}}</strong>
</div>

<table width="85%" align="center" border="0" cellpadding="4" cellspacing="0"
       style="width:85%; margin-left:auto; margin-right:auto; border:none; border-collapse:collapse;">
  <tr>
    <td width="45%" valign="top" style="width:45%; border:none; padding:2px 4px; vertical-align:top;">{{plaintiffName}},</td>
    <td width="10%" valign="top" style="width:10%; border:none; padding:2px 4px; vertical-align:top;"></td>
    <td width="45%" valign="top" style="width:45%; border:none; padding:2px 4px; vertical-align:top;">{{courtName}}</td>
  </tr>
  <tr>
    <td style="border:none; padding:2px 4px; padding-left:24px;"><em>{{plaintiffLabel}},</em></td>
    <td style="border:none; padding:2px 4px;"></td>
    <td style="border:none; padding:2px 4px;">{{countyState}}</td>
  </tr>
  <tr>
    <td style="border:none; padding:8px 4px;">v.</td>
    <td style="border:none; padding:2px 4px;"></td>
    <td style="border:none; padding:2px 4px;"></td>
  </tr>
  <tr>
    <td valign="top" style="border:none; padding:2px 4px; vertical-align:top;">{{defendantName}},</td>
    <td style="border:none; padding:2px 4px;"></td>
    <td style="border:none; padding:2px 4px;"></td>
  </tr>
  <tr>
    <td style="border:none; padding:2px 4px; padding-left:24px;"><em>{{defendantLabel}}.</em></td>
    <td style="border:none; padding:2px 4px;"></td>
    <td style="border:none; padding:2px 4px;"></td>
  </tr>
</table>
