// Client Profile Styles

.avatar-xl {
  width: 100px;
  height: 100px;
}

.profile-avatar {
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
}

.avatar-sm {
  width: 40px;
  height: 40px;

  .avatar-title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.bg-soft-primary {
  background-color: rgba(var(--vz-primary-rgb), 0.1) !important;
}

.bg-soft-info {
  background-color: rgba(var(--vz-info-rgb), 0.1) !important;
}

.bg-soft-secondary {
  background-color: rgba(var(--vz-secondary-rgb), 0.1) !important;
}

.fs-13 {
  font-size: 13px;
}

.list-group-item {
  border-left: none;
  border-right: none;
  padding: 0.875rem 1.25rem;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: rgba(var(--vz-primary-rgb), 0.05);
  }

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}
