<ng-container *ngIf="(resetPasswordState$ | async) as state" [ngSwitch]="state.dataState">
  <div *ngIf="!state.registerSuccess">
    <div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100">
      <div class="bg-overlay"></div>
      <div class="auth-page-content overflow-hidden pt-lg-5">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="card overflow-hidden card-bg-fill galaxy-border-none">
                          <div class="row g-0">
                              <div class="col-lg-6">
                                  <div class="p-lg-5 p-4 auth-one-bg h-100">
                                      <div class="bg-overlay"></div>
                                      <div class="position-relative h-100 d-flex flex-column">
                                          <div class="text-center mb-4">
                                              <img src="assets/images/bostoneo-logo-white-1.svg" alt="Bostoneo Solutions Logo" height="60">
                                          </div>
                                          <div class="mt-auto">
                                              <div class="mb-3">
                                                  <i class="ri-double-quotes-l display-4 text-success"></i>
                                              </div>
                                              <p class="fs-15 fst-italic text-white">“Empowering organizations with intelligent, scalable solutions tailored for sustainable growth in a future-focused marketplace.”</p>
                                            </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div class="p-lg-5 p-4">
                                      <div class="text-center">
                                          <h5 class="text-primary">Reset Your Password</h5>
                                      </div>
                                      <div class="mt-2 text-center">
                                        <lord-icon
                                            src="https://cdn.lordicon.com/rhvddzym.json"
                                            trigger="loop"
                                            colors="primary:#0ab39c"
                                            class="avatar-xl">
                                        </lord-icon>
                                      </div>
                                      <div class="alert border-0 alert-warning text-center mb-2 mx-2" role="alert">
                                        Enter your email and a reset link will be sent to you!
                                    </div>

                                      <div class="mt-4">
                                          <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm)">
                                              <!-- Error Message -->
                                              <div *ngIf="state.dataState === DataState.ERROR" class="alert alert-danger text-center" role="alert">
                                                  {{ state.error }}
                                              </div>

                                              <!-- Email Field -->
                                              <div class="mb-3">
                                                  <label for="email" class="form-label">Email Address</label>
                                                  <input ngModel name="email" type="text" class="form-control" placeholder="Enter email address" [disabled]="state.dataState === DataState.LOADING" required>
                                              </div>

                                              <!-- Reset Password Button -->
                                              <div class="mt-4">
                                                  <button [disabled]="state.dataState === DataState.LOADING || resetPasswordForm.invalid || resetPasswordForm.pristine" type="submit" class="btn btn-success w-100">
                                                      <span *ngIf="state.dataState === DataState.LOADING" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                                                      <span *ngIf="state.dataState === DataState.LOADING">Sending...</span>
                                                      <span *ngIf="!(state.dataState === DataState.LOADING)">Reset Password</span>
                                                  </button>
                                              </div>
                                          </form>
                                      </div>

                                      <div class="mt-5 text-center">
                                          <p class="mb-0">Remember It? <a routerLink="/login" class="fw-semibold text-primary text-decoration-underline">Login</a></p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- end row -->
                      </div>
                      <!-- end card -->
                  </div>
                  <!-- end col -->
              </div>
              <!-- end row -->
          </div>
          <!-- end container -->
      </div>
  </div>
  </div>

   <!-- Success screen -->
   <div *ngIf="state.registerSuccess">
    <div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100">
      <div class="bg-overlay"></div>
      <div class="auth-page-content overflow-hidden pt-lg-5">
        <div class="container">
          <div class="row justify-content-center my-5">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body text-center">
                  <img src="assets/images/bostoneo-logo-1.svg" alt="Bostoneo Solutions Logo" height="60">
                  <h5 class="card-title mt-4 mb-4">{{ state.title }}</h5>
                  <i class="bi bi-check-circle-fill" style="font-size: 80px; color: green;"></i>
                  <p class="mt-2" style="font-size: 20px;">{{ state.message }}</p>
                </div>
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <a routerLink="/login" style="color: #0D6EFD; text-decoration: underline; cursor: pointer;">Account
                      Login</a>
                  </div>
                  <div class="col">
                    <a routerLink="/register"
                      style="color: #0D6EFD; text-decoration: underline; cursor: pointer;">Create another account</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  
</ng-container>
